<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
    <script type="importmap">
          {
            "imports": {
              "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
          }
        </script>
    <script src="./scripts/app.js" type="module"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            50: '#f3e5ff',
                            100: '#d6b4fe',
                            200: '#b984fb',
                            300: '#9d53f8',
                            400: '#8123f5',
                            500: '#680cdc',
                            600: '#5107ab',
                            700: '#3a047b',
                            800: '#23024c',
                            900: '#0e001d',
                        }
                    }
                },
                fontFamily: {
                    sans: ["Prompt", "sans-serif"]
                }
            }
        }
    </script>
    <style>
        #app {
            display: contents;
        }

        .prose :where(strong):not(:where([class~="not-prose"] *)) {
            color: #9d53f8 !important;
        }
    </style>
    <script>
            (function (d, t) {
                var BASE_URL = "https://app.chatwoot.com";
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = BASE_URL + "/packs/js/sdk.js";
                g.defer = true;
                g.async = true;
                s.parentNode.insertBefore(g, s);
                g.onload = function () {
                    window.chatwootSDK.run({
                        websiteToken: 'oASxRK23wJqFg3thdw98TYPE',
                        baseUrl: BASE_URL
                    })
                }
            })(document, "script");
    </script>
</head>

<body class="bg-gray-900 text-gray-300">
    <div id="app">
        <div class="max-w-7xl mx-auto text-center">
            <h1 class="uppercase text-5xl text-center font-bold mt-8">Carte <span class="text-primary-200">{{
                    urlParams.id }}</span></h1>
            <div v-if="selectedCard && !isSelectedCardCanceled" class="flex flex-col lg:flex-row gap-6 px-4 flex-start">
                <img v-if="![1987, 1967].includes(selectedCard.id)" :src="`./images/${selectedCard.id}.png`"
                    class="w-full max-w-2xl mx-auto mt-8 object-contain" alt="">
                <div class="lg:text-left">
                    <div class="uppercase text-5xl font-bold text-white mt-8">{{ selectedCard.title }}</div>
                    <div class="text-lg mt-2 prose prose-invert" v-html="parseMarkdown(selectedCard.desc)"></div>
                </div>
            </div>
            <div v-else class="mt-16">
                <h2 class="uppercase text-4xl md:text-9xl text-center text-primary-200 font-bold">{{
                    isSelectedCardCanceled ? "Oups !" : "Erreur" }}</h2>
                <p class="text-xl mt-12">
                    {{ isSelectedCardCanceled ? "Tu as déjà utilisé cette carte." : "Cette carte n'existe pas" }}
                </p>
                <p v-if="!isSelectedCardCanceled" class="text-xl"><span class="font-bold">Attention</span> : tu perds 3
                    points</p>
            </div>
        </div>
        <div class="sticky lg:fixed z-10 inset-x-0 bottom-0 bg-gray-800/60 p-4 flex justify-between mt-10">
            <div>
                <label for="search" class="ml-4">Chercher</label>
                <div class="flex items-center">
                    <input type="text" id="search"
                        class="text-gray-100 focus:outline-none placeholder:text-gray-400 focus:ring-primary-200 bg-gray-500 rounded-l-full"
                        placeholder="00" v-model="search">
                    <a :href="`?id=${search === '' ? 0 : search}`"
                        class="border border-transparent uppercase bg-primary-200 text-lg px-6 py-1.5 rounded-r-full text-white font-semibold inline-block hover:bg-primary-300 transition-colors shadow">Go
                        !</a>
                </div>
            </div>
            <div class="fixed z-10 top-24 sm:top-6 left-6 inline-block transition-transform hover:scale-105">
                <div>Score: {{score}}</div>
                <div>Timer: {{cleanTimer}}</div>
            </div>
            <button @click="showInventory = true"
                class="fixed z-10 top-24 sm:top-6 right-6 inline-block transition-transform hover:scale-105"><img
                    src="./images/bag.png" class="w-28" alt=""></button>
        </div>
        <div class="block fixed inset-0 bg-gray-800 z-50 overflow-auto" v-show="showInventory">
            <button @click="showInventory = false"
                class="uppercase bg-primary-200 text-lg px-6 py-2 rounded-full text-white font-semibold inline-block hover:bg-primary-300 transition-colors fixed z-10 right-6 top-6 shadow">Fermer</button>
            <h3 class="uppercase text-5xl text-center font-bold my-8 text-white">Inventaire</h3>
            <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-1 max-w-5xl mx-auto">
                <li class="contents">
                    <a :href="`?id=${card.id}`"
                        class="bg-gray-700 mx-5 my-5 rounded-lg p-4 text-gray-300 hover:scale-105 transition-transform"
                        v-for="card in inventory">
                        <img v-if="![1987, 1967].includes(card.id)" class="rounded-lg w-full mb-2"
                            :src="`./images/${card.id}.png`" :alt="card.title">
                        <h1 class="font-semibold text-lg">#{{card.id}} {{card.title}}</h1>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>